/*
Place your custom CSS here
*/
.widget-time-input {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 72px;
}

.custom-alert {
    position: absolute;
    background: none !important;
    display: flex;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
}

.custom-alert.alert-danger {
    margin: 0;
}

.custom-alert:hover ~ .custom-alert-tooltip {
    opacity: 1;
    visibility: visible;
}

.custom-alert-tooltip {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 250px;
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    background-color: black;
    color: white;
    padding: 8px;
    border-radius: 4px;
    z-index: 10;
    transition: all .15s ease-in-out;
}

.custom-alert-instruction {
    font-size: 0.95em;
}

.custom-alert-icon {
    width: 1em;
    fill: currentColor;
}

.sl-timeinput-actions {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 8px;
    top: 50%;
    right: 0;
    padding: 0 8px;
}

.sl-timeinput-actions.is-hidden {
    transform: translate(50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: all .15s ease-in-out;
}

.sl-timeinput-actions.is-visible {
    transform: translate(100%, -50%);
    opacity: 1;
    visibility: visible;
    transition: opacity .15s ease-in-out, visibility .15s ease-in-out, transform .25s ease-in-out;
}